h2{
    font-size: 1.2rem;
}
h3{
    font-size: 1rem;
}
div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
app-add-button{

    margin-bottom: 2rem;
}


#addContent h2{

    margin-top: 5rem;
}