<app-filter-interface (filteredDataEmitted)="filteredDataReceived($event)" (newElementAdded)="addNewElement($event)" class="filter-interface"></app-filter-interface> <br> <br>

<div id="tableContent" class="contenido" >

    <table datatable class="row-border hover" >
        
        <thead>

            <tr>
                <th>Autores</th>
                <th>Titulos</th>
                <th>Año de nacimiento</th>
                <th>Año de muerte</th>
                <th>Acciones</th>
            </tr>

        </thead>
        
        <tbody>
            <tr  *ngFor="let book of data ; let i = index;let item of data" >
        
                <td>{{book.authors[0].name}}</td>
                <td id="title">{{book.title}}</td>
                <td>{{book.authors[0].birth_year}}</td>
                <td>{{book.authors[0].death_year}}</td>
                
                
                
                <td>
                    <app-delete-button [index]="i" (delete)="deleteRow($event)"/>
                    <app-dowloand-button [book]="book"/><br>
                    <app-edit-button mat-button (click)="editElement(i, item)"/>
                    <app-see-button [book]="book"></app-see-button>
                    
                </td>
            </tr>

        </tbody>
    
    </table>
    
</div>