table, tr, td{

    border: 1.5px solid;
    
}

div{

    overflow-y: auto;
   
}
th{

    position: sticky;
    top: 0;
    border: 2px solid;
    margin-bottom: 2px;
    background-color: white;
    color: black;
}
.contenido{
   text-align: center;
}
.ocultar{
    display: none;
}

