h3{
    color: black;
    margin-left: 3rem;
}
div{
    margin-left: 3rem;
    align-items: center;
}
input{
    gap: 1rem;
    width: 20px;
    margin-right: 1rem;
}
.boton{
    margin-right: 1rem;
}
.mat-mdc-form-field{
    margin: 5px;
}
button{
    background-color: #007bff ;
    color: white ;
    border-radius: 4px ;
    font-size: 14px ;
    border-style: dotted;
    margin-left: 1rem;
}
.botones{
    margin-left: 31%;
    margin-bottom: 10px;
}
.mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-text-field__input {
    width: 12rem;
}